@media (max-width: 600px) {
  .topLeftMenu,
  .statsMenu {
    width: 45%;
    left: 2%;
    position: absolute;
    box-sizing: border-box;
  }

  .authBox,
  .authBox.loggedIn,
  .buyContent,
  .buyMenu {
    width: 100%;
  }

  .leaderboardMenu,
  .aboutMenu-container,
  .cesium-viewer-geocoderContainer {
    width: 45%;
    right: 2%;
    position: absolute;
    box-sizing: border-box;
  }

  .buyMenu button,
  .leaderboardMenu button,
  .statsMenu button {
      padding: 0.9vh 1vw; 
  }

}

/*for safari*/
input,
textarea,
select {
  font-size: 16px !important;
}
